/**
 * Patch CSS 4 blog app.
 * @author: Joker Qyou;
 */

/** Make way 4 the main menu **/
body {
    padding: 0px;
    margin: 80px 0px 0px 0px;
    font-family: "Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    color: #555555;
}

/** Main menu on the most top **/
.main.menu{
    top: 0px;
}

/** Main menu container centered **/
.container {
    width: 915px;
    margin: 0px auto;
}

/** Remove all underlines of links **/
a {
    text-decoration: none;
}

/** Footer centered **/
.footer.link.list {
    display: block;
    text-align: center;
    margin-bottom: 1.5rem;
}

/** Selection overrides **/
.ui *::selection {
    background-color: #CCE2FF;
}
::selection {
    background-color: #FFFFCC;
    color: #555555;
}

/** Styles for code and pre **/
code, pre {
    word-wrap: normal;
    white-space: pre-wrap;
}
pre, code, tt {
    font: 13px 'andale mono', 'lucida console', monospace;
    line-height: 1.5;
}
code {
    color: #d14;
    margin-bottom: 20px;
}

/** Styles for links **/
a {
    color: #08c;
    text-decoration: none;
}
a:hover, a:focus {
    color: #005580;
    text-decoration: none;
}

/** Styles for heads **/
h2{
    font-size: 20px;
}

/** Drop border radius **/
.ui.form textarea, .ui.form input[type=text], .ui.form input[type=email], .ui.form input[type=date], .ui.form input[type=password], .ui.form input[type=number], .ui.form input[type=url], .ui.form input[type=tel] {
    -webkit-border-radius: 0;
    border-radius: 0;
}

.ui.segment.post {
    -webkit-border-radius: 0;
    border-radius: 0;
}

/** Drop list style **/
.ui.list ul {
    list-style: none;
    padding-left: 0;
}

/** Styles for post tags **/
.ui.tags.segment {
    margin-top: 30px;
    padding: 10px;
    border-radius: 0;
}
.ui.tags.segment .label{
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

/** Styles patch for items **/
.ui.one.items>.item {
    width: 96%;
}
.ui.items>.row>.item, .ui.items>.item {
    min-height: 50px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    margin-bottom: 10px;
}
.ui.items>.item .description {
    margin: 5px;
}
.ui.items>.item .content {
    padding: .45em .5em;
}

/** Post meta styles **/
.post .ui.header .sub.header {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 15px;
}

/** Comment styles **/
.ui.comments.segment {
    margin-top: 30px;
}
.ui.comments.segment .comment {
    padding: 20px 0;
    border-bottom: 1px solid #dfdfdf;
}
.ui.comments.segment .comment:last-child {
    border-bottom: none;
}
